@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-color: #171717;
    --secondary-color: #444444;
    --ternary-color: #da0037;
    --bg-color: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-color);
    overflow-x: hidden;
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/*--- Global Typography ---*/
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/*--- ReorderJS ---*/
i.fa-bars :hover {
    cursor: grab;
}

/*--- Modals ---*/
.modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container-show {
    display: flex;
}

.modal {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;

    width: clamp(300px, 50vw, 400px);
    height: 300px;
    border-radius: 1em;
}

.modal-title {
    font-weight: bold;
    text-align: center;
}

.modal-subtitle {
    color: grey;
}

.modal-actions {
    display: flex;
}

.modal .btn {
    width: 100%;
    margin: 0 1em;
    border-radius: 1em;
}

.modal .btn:nth-of-type(1) {
    background-color: red;
}

.modal .btn:nth-of-type(2) {
    background-color: green;
}

.modal .btn:hover {
    background-color: black;
}

/*--- Header ---*/
header {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}

.upper-header,
.lower-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/*--- Site-Message ---*/
.site-message {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    color: white;
    font-weight: bold;
}

/*--- Upper-Header ---*/
.upper-header {
    align-items: center;
}

.logo {
    color: white;
    font-size: 2.5em;
}

.search-form {
    display: flex;
    align-items: center;
    flex-grow: 2;
    margin: 0em 1em;
    position: relative;
}

.search-icon {
    color: var(--secondary-color);
    position: absolute;
    left: 0.5em;
}

.search-icon:hover {
    cursor: pointer;
}

.search-input {
    border: none;
    border-radius: 2em;
    flex-grow: 2;
    height: 2.5em;
    background-color: var(--bg-color);
    padding-left: 2.5em;
}

.search-input:focus {
    outline: none;
}

.profile-button {
    background: none;
    border: none;
}

.profile-button:hover {
    cursor: pointer;
}

.profile-button i {
    font-size: 2.5em;
    color: white;
}

/*--- Lower-Header ---*/
.lower-header {
    background-color: var(--ternary-color);
}

.novel-genre-nav-item {
    color: white;
    font-weight: bold;
    margin: 0.5em;
}

/*--- Side-Panel ---*/
.side-panel {
    position: absolute;
    z-index: 3;
    top: 4.5em;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 2em;
    height: 100%;
    transition: right 0.5s ease-out;
}

.side-panel-hidden {
    right: -500px;
    transition: right 0.5s ease-out;
}

.side-panel hr {
    width: 100%;
    opacity: 0.5;
}

.panel-section {
    margin: 1em 0em;
}

.auth-section,
.account-section {
    display: flex;
    flex-direction: column;
}

.section-item-title {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.section-item-title:hover {
    color: var(--ternary-color);
}

.register,
.login {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    padding: 0.3em 2em;
    border-radius: 1em;
    margin: 0.5em 0;
}

.register:hover,
.login:hover {
    background-color: black;
}

.account-section {
    width: 100%;
}

.account-section-item {
    display: flex;
    justify-content: space-between;
    margin: 1em 0em;
}

/*--- Home-Page ---*/

section {
    margin: 2em 0;
}

.section-title-container {
    position: relative;
    height: 2em;
    margin-bottom: 1em;
}

.section-title-top,
.section-title-bottom {
    position: absolute;
    z-index: 0;
    background-color: var(--ternary-color);
    width: 20em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title-top {
    z-index: 1;
    top: -1em;
    left: 1em;
    border-radius: 0 1em 1em 0;
}

.section-title-bottom {
    background-color: var(--main-color);
}

.section-title {
    color: white;
    font-weight: bold;
}

.section-content {
    padding: 1em;
}

/*--- Novel-Cards ---*/

.nc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: clamp(200px, 40vh, 450px);
    gap: 1em;
}

.nc-flex {
    display: flex;
}

.nc {
    position: relative;
    overflow: hidden;
}

.nc img {
    border-radius: 1em;
}

/*--- Simple-Novel-Cards ---*/

.simple-nc {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.simple-nc-overlay {
    position: absolute;
    z-index: 1;
    bottom: -400px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: bottom 0.5s ease-out;
    width: inherit;
    padding: 1em;
}

.simple-nc-overlay p:nth-child(1) {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    background-color: var(--ternary-color);
}

.simple-nc-overlay p:nth-child(2) {
    text-align: justify-content;
    padding: 0.5em;
}

.simple-nc-stats {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
}

.simple-nc-actions {
    display: flex;
    justify-content: space-around;
}

.simple-nc-actions a {
    color: white;
}

.simple-nc-actions i {
    background-color: var(--secondary-color);
    padding: 0.5em 1em;
    border-radius: 1em;
}

.simple-nc-actions i:hover {
    background-color: black;
}

.simple-nc:hover > .simple-nc-overlay {
    bottom: 0;
    transition: bottom 0.5s ease-out;
}

.simple-nc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--- Detailed-Novel-Cards ---*/

.detailed-nc {
    overflow: visible;
    background-color: white;
    border-radius: 1em;
    height: 450px;
    width: 500px;
    margin-bottom: 5em;
}

.detailed-nc-overlay {
    position: absolute;
    top: -1em;
    left: -1em;
}

.detailed-nc-overlay-top {
    display: flex;
    flex-wrap: wrap;
}

.detailed-nc-overlay-infos {
    margin: 2em 0.5em 1em 0.5em;
}

.detailed-nc-overlay-top p {
    margin-bottom: 0.5em;
}

.detailed-nc-overlay-infos :nth-child(1) {
    font-weight: bold;
}

/*--- Registration-Form ---*/

.errorlist {
    list-style: none;
}

.errorlist li {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    padding: 0.3em;
    background-color: red;
    border-radius: 0 0 0.5em 0.5em;
    width: fit-content;
}

form.auth-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 1em;
    width: clamp(350px, 80vw, 700px);
}

.signup-form-step {
    width: 100%;
}

.signup-form-step-container {
    width: inherit;
}

.signup-form-step-header {
    display: flex;
    align-items: center;
}

.signup-form-step-header-title {
    font-weight: bold;
    margin-left: 1em;
}

.form-step-icon {
    font-size: 4.5em;
    color: var(--ternary-color);
}

.input-field {
    position: relative;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 100%;
}

.input-field label {
    position: absolute;
    top: -0.5em;
    left: 0.5em;
    color: var(--main-color);
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    background-color: white;
}

.input-field input,
.input-field textarea {
    padding: 1em 2em;
    width: inherit;
    border: 0.1em var(--secondary-color) solid;
}

.input-field input:focus,
.input-field textarea:focus {
    outline: none;
}

.input-field-okay {
    background-color: var(--secondary-color);
}

.gender-input {
    text-align: center;
}

.gender-inputs {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

.gender-inputs i {
    font-size: 3em;
}

.gender-inputs i:hover,
.gender-inputs i:focus {
    color: var(--ternary-color);
    cursor: pointer;
}

.gender-is-selected {
    color: var(--ternary-color);
}

.signup-form-nav-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.btn {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    padding: 1em;
    width: 40%;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
}

.btn-next {
    margin-left: auto;
}

/*--- Dashboard ---*/
.dashboard {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
}

.dashboard-pagination {
    display: flex;
}

.dashboard-pagination-indicator {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    text-align: center;
}

.dashboard-pagination .btn {
    text-align: center;
}

.dashboard-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dashboard-action-container {
    display: flex;
    align-items: center;
}

.dashboard-action-container input,
.dashboard-action-container select {
    height: 3em;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

.dashboard-action-container input {
    border: none;
    color: white;
    background-color: var(--main-color);
    padding: 0 2em;
    border-radius: 1em 0 0 1em;
}

.dashboard-action-container input:disabled {
    background-color: grey;
}

.dashboard-action-container select {
    border-radius: 0 1em 1em 0;
    border-color: var(--main-color);
    color: var(--main-color);
}

.dashboard-action-container select:focus {
    outline: none;
}

.dashboard-action {
    display: flex;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 1em;
}

.dashboard-action a {
    color: white;
}

.dashboard-action:hover {
    background-color: black;
}

.dashboard-action i {
    margin-right: 1em;
}

.dashboard-list-item {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    border-bottom: 1px black solid;
}

.dashboard-list-item i {
    margin: 1em;
}

@media only screen and (max-width: 600px) {
    .dashboard-list-item {
        flex-direction: column;
    }
}

.dashboard-item-cover {
    height: 5em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5em;
}

.dashboard-item-cover:hover {
    cursor: pointer;
    opacity: 0.8;
}

.dashboard-item-checked,
.dashboard-item-checked:hover {
    opacity: 0.3;
}

.dashboard-item-title {
    font-weight: bold;
    font-size: 1em;
    flex-grow: 1;
    margin-left: 1em;
}

.dashboard-item-public {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: grey;
}

.dashboard-item-actions {
    display: flex;
}

.item-action {
    margin: 1em 0 1em 1em;
    color: white;
    padding: 1em;
}

.item-action:hover {
    background-color: black;
}

.item-action-chapters {
    background-color: var(--secondary-color);
}

.item-action-edit {
    background-color: var(--ternary-color);
}

.item-action-delete {
    background-color: red;
}

/*--- Create-Novel-Form ---*/
.writing-form {
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.writing-form-title-input {
    height: 3em;
    border: none;
    padding: 1em 0em;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.726);
    font-weight: bold;
    font-size: 25px;
    transition: all 0.3s ease-out;
}

.writing-form-title-input:focus {
    outline: none;
    padding: 1em;
    transition: all 0.5s ease-out;
}

.writing-form-title-input::placeholder {
    color: rgba(0, 0, 0, 0.459);
}

.writing-form-title-input input {
    margin: 2em 0;
}

.ql-toolbar {
    margin-top: 1em;
}

#editor {
    padding: 1em 0;
    height: 50vh;
    overflow-y: scroll;
}

.writing_save_button {
    width: 100%;
}

/*--- Novel Cover---*/

.default-covers {
    display: flex;
    justify-content: space-between;
}

.default-cover {
    width: 20%;
    border-radius: 1.5em;
    opacity: 0.4;
}

.default-cover-selected {
    border-radius: 0em;
    opacity: 1;
    background-color: blue;
    transition: 0.3s all ease-in;
}

.upload-your-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2em #00adb5 solid;
    border-radius: 0.5em;
    height: 5em;
    width: 5em;
}

.upload-your-cover i {
    color: #00adb5;
}

.upload-your-cover:hover {
    background-color: #00adb5;
}

.upload-your-cover:hover i {
    color: white;
}

.cover-uploaded {
    background-size: cover;
    background-position: center;
    border: none;
}

/*--- User-Profile ---*/
.profile-header {
    background-color: #082032;
    padding: 3em 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.profile-image {
    max-height: 10em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.profile-username {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0.6em 0;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.profile-stat {
    margin: 0 1em;
}

.profile-stat :nth-child(1) {
    font-style: italic;
}

/*--- Profile-Tabs ---*/
.profile-tab-selector {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.profile-tab-button {
    border: none;
    border-bottom: 0.5em #082032 solid;
    padding: 1em;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-tab-button:hover,
.profile-tab-button-active {
    background-color: #082032;
    color: white;
}

/*--- Profile-Tab-Content ---*/
.profile-tab-contents {
    background-color: white;
    padding: 1em 0;
}

.profile-tab-content {
    display: flex;
    justify-content: center;
}

/*--- Profile-Tab-About-Me ---*/
.profile-tab-content-about-me {
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.profile-tab-content-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    margin: 1em 0;
}

.profile-tab-content-personal-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1em 0;
}

.profile-tab-content-personal-info {
    display: flex;
    margin: 1em 0;
}

.profile-tab-personal-infos-label {
    font-weight: bold;
    margin-right: 1em;
}

.profile-tab-personal-infos-p {
    font-style: italic;
}

/*--- Reader ---*/
.reader-side-panel {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 430px;
    left: 0;
    color: white;
    transition: left 0.3s ease-out;
}

.reader-side-panel a {
    color: white;
}

.reader-side-panel-hidden {
    left: -350px;
    transition: left 0.3s ease-out;
}

.reader-side-panel-content,
.reader-side-panel-toggle {
    background-color: var(--ternary-color);
}

.reader-side-panel-content {
    padding: 2em;
    height: 50vh;
    width: 350px;
    overflow-y: scroll;
    border-radius: 0 0 1em 0;
}

.reader-side-panel-content::-webkit-scrollbar {
    display: none;
}

.reader-side-panel-title {
    font-weight: bold;
    text-align: center;
}

.reader-side-panel-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 2em 2em 0;
    height: 4em;
    width: 80px;
}

.reader-side-panel-toggle:hover {
    cursor: pointer;
}

.reader-side-panel-toggle i {
    font-size: 2em;
}

.reader-navigator {
    background-color: white;
    position: fixed;
    bottom: 3em;
    right: 1em;
}

.reader-navigator > div {
    margin: 1em;
}

.reader-navigator i {
    font-size: 2em;
    color: var(--ternary-color);
}

.chapter-title {
    font-weight: bold;
    margin: 1em 0;
    text-align: center;
}

.chapter-content {
    background-color: white;
    padding: 4em 2em;
    margin: 1em auto;
    max-width: 800px;
    border-radius: 1em;
    text-align: justify;
}

.chapter-content hr {
    margin: 1em;
    background-color: grey;
    opacity: 0.5;
}

/*--- Utilities ---*/
.wrapper {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */

    max-width: 1400px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.disabled {
    background-color: grey;
}
